<form action="{{ path('tarea_finalizar', { 'id': entity.id }) }}" method="post" {{ form_enctype(formulario) }}>


    <div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
										<h4 class="modal-title" id="myModalLabel">Completar Tarea</h4>
									</div>
									<div class="modal-body">
										{{ form_widget(formulario) }}
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times-circle"></i> Cerrar</button>
										<button  type="submit" class="btn btn-custom-primary" ><i class="fa fa-check-circle"></i> Guardar Cambios</button>
									</div>
								</div>
</form>



								
                                                                      