@charset "utf-8";
/*basico*/
.cabecera-login{
background-color:#1CA3C6;
border-radius:4px 4px 0 0;
border-bottom:0.15em solid #0D7C99;
color:#fff;
padding-top:0.4em;
height:2.4em;
font-size:1.8em;
text-align:center;
}
.cuerpo-login{
background-color:#eee;
padding:0.7em;
}
.pie-login{
box-shadow:0 5px 6px 0 rgba(0, 0, 0, 0.09);
border-radius:0 0 4px 4px;
height:3.4em;
padding-top:0.7em;
text-align:center;
}
.error{text-align:center;background-color:#FFD9D9;color:#FF2323}